:root
{
    --colorBackground: #121212;
    --colorText: #808080;
}

html
{
    background-color: var(--colorBackground);
    color: var(--colorText);
}

header
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

header section
{
    flex-grow: 9;
}

header nav
{
    
}

header nav a
{
    color: var(--colorText);
}