html, body
{
    height: 100%;
}

body
{
	display: flex;
	flex-direction: column;
    align-items: center;
    margin: 0;
}

body > *
{
    margin: 10px;
}

header
{
    display: flex;
    width: 95%;
}

header section
{
    flex-grow: 9;
    display: flex;
    align-items: center;
}

header nav
{
    display: flex;
    align-items: center;
}

main
{
    flex-grow: 9;
}

main div.game
{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    justify-content: space-around;
}

main div.game > *
{
    display: flex;
    justify-content: center;
    row-gap: 10%;
    column-gap: 10%;
    padding: 30px;
}

main div.game div.lore
{
    flex-grow: 8;
    border: 2px solid black;
    padding: 30px;
    align-content: stretch;
}

main div.game div.lore p
{
    display: flex;
    max-height: 90%;
    overflow: scroll;
}

main div.game div.inputs
{
    flex-grow: 1;
    padding: 30px;
    align-items: center;
    justify-content: space-evenly;
}

main div.game div.inputs button
{
    width: 100%;
    height: fit-content;
    font-size: 16px;
}

@media screen and (width<1000px)
{
    
    main div.game div.inputs
    {
        flex-direction: column;
    }
}